.recent-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black ;
    height: 50%;
    padding: 20px 0px 100px 0px;
}

.experience-card {
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .experience-card-header {
    margin-bottom: 8px;
  }
  
  .experience-card-title {
    margin: 0;
    font-size: 24px;
  }
  
  .experience-card-description {
    margin-bottom: 16px;
  }
  
  .experience-card-tasks {
    margin-bottom: 16px;
  }
  
  .experience-card-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-top: 16px;
  }
  
  .experience-card-link {
    display: inline-block;
    margin-top: 16px;
    color: #007bff;
    text-decoration: none;
  }
  
  .experience-card-link:hover {
    text-decoration: underline;
  }
  .experience-card-tasks-img{
    height: 20px;
    width: auto;
  }
  .experience-card-tasks-skillContainer{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
  }
  .experience-card-tasks-skill{
    display: flex;
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
    height: 25px;
    padding: 0 10px 0 10px;
    gap: 5px;
    align-items: center;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */